.menuPrincipal {
    border: 0;
    background-color: white;
    padding-top: 3px;
}

.menuPrincipal:hover{
    background-color: red;
    color: white;
}

button{
    margin: 10px;
    
}

table{
    border-collapse: collapse;
}

.menuEntrada{
    width: 20px;
}
