body {
  max-width: 1024px;
  margin: 0 auto;
  padding: 30px 30px 70px 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 0 30px;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0 0 30px;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 30px;
}

main {
  padding: 15px 10px;
}

header {
  position: relative;
  background-color: #DAECD2;
  padding: 5px;
  border-radius: 2px;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(113, 196, 113);
  background-size: 200px;
}

header>h1 {
  color: black;
  font-size: 4em;
  font-weight: bold;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  text-align: center;
}

p {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

nav {
  background: #ECAC25;
  padding: 5px 10px;
}

.contenedor {
  width: 70%;
  margin: auto;
  background-color: #fbfcfd;
}

.indice, ol {
  width: 100%;
  height: 75%;
  background-color: #f5f5f5;
  list-style-type: disc;
}

a.DivRelleno {
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.menu {
  width: 165px;
  height: 45px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.subMenu_botones {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.boton_indice {
  padding: 20px;
}

.subtitulo {
  font-size: 12px;
}

body {
  background-color: #FFC;
}

table td {
  text-align: center;
  border: 1px #000099 dotted;
}

.botonesMenu {
  text-align: center;
  border: 0px;
}

table .sin {
  border: 0;
}

table .bot {
  padding: 0 5px;
  display: inline;
  border: 0;
}

table .primera_fila {
  font-size: 1.5em;
  text-decoration: underline;
  background-color: #FC3;
}

.mens_error {
  color: red;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.mens_ok {
  color: green;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* @@@@ ESTILOS PARA FORMULARIO VERTICAL DE TAMAÑO REDUCIDO @@@*/
fieldset.mini-formulario {
  width: 180px;
  margin: auto;
  background: rgba(200, 255, 243, 0.6);
}

fieldset.mini-formulario>legend {
  background: rgb(0, 65, 102);
  color: white;
  font-weight: bold;
  padding: 2px 15px;
  border-radius: 10px;
}

fieldset.mini-formulario select,
fieldset.mini-formulario input {
  display: block;

}

.left {
  float: center;
}

.button_gestion {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%
}

.login_button{
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}

/* @@@@ ESTILOS PARA EL MENU GRANDE MOSTRADO EN EL CONTENIDO DE LA PAGINA @@@@*/

#menu a {
  font-size: 1.2em;
  display: block;
  padding: 15px 25px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border: solid green;
  width: 50%;
  background-color: #DAECD2;
  font-size: large;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

#menu a:hover {
  background-color: #ECAC25;
  font-weight: bold;
}

/* @@@@ ESTILOS PARA HACER UN BOTON DESPLEGABLE @@@@ */
.desplegable {
  background: inherit;
  display: inline-block;
}

.desplegable>div {
  display: none;
  background: inherit;
  margin: 0 -5px;
}

.desplegable:hover>div {
  display: block;
  position: absolute;
}

.desplegable>div>a {
  display: block;
  padding: 5px;
  text-decoration: none;
}

.desplegable>div>a:hover {
  background: yellowgreen;
}

/* @@@@ ESTILOS PARA GENERAR FORMULARIO EN BLOQUE HORIZONTAL @@@@ */
div.input-labeled {
  margin: 10px 0;
  padding-right: 12px;
}

div.input-labeled>label {
  display: block;
  font-size: 0.8em;
  text-decoration: underline;
  padding-left: 5px;
}

content {
  position: relative;
}
img {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 30%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}