button{
    margin: 10px;
}

.tabla_final,.encabezado,.contenido{
    border: 1px solid black;
    border-collapse: collapse;
}

div{
    margin: auto;
    width: 250px;
    padding: 10px;
}



.encabezado{
    background-color: #4CAF50;
}

.contenido{
    background-color: #cceed4;
}

