.datos {
    border: 1px solid grey;
    padding: 4px;
    border-collapse: collapse;
    text-align: center;
    background-color: rgb(240, 198, 83);
    border-collapse:separate; 
    border-spacing:0px 10px;
    border: 1px dotted #000;
}


/* table con border spacing y dots */
table {
    border-spacing:0px 10px;
    border: 1px dotted #000;
}

.cabecera{
    border: 1px solid grey;
    padding: 4px;
    border-collapse: collapse;
    background-color: rgb(255, 187, 0);
    text-decoration: underline;
    font-weight: bold;
    border-spacing:0px 10px;
    border: 1px dotted #000;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

.ingresar{
    border: none;
    background-color: white;
    border: 0;
    border-bottom:0;
    border-radius: 5px;
}

/* input al lado de la tabla */
input{
    float: center;
    margin-right: 0px;
}

p{
    color: black;
    background-color: red;
    width: 270px;
}


